body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.flex {
  display: flex;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.border {
  border: 3px solid #385d89;
}

.text-white {
  color: white;
}

.text-red {
  color: red;
}

.p3 {
  padding: 1.5rem;
}

.m3 {
  margin: 1.5rem;
}

.m2 {
  margin: 1.25rem;
}

.m1 {
  margin: 1rem;
}

.mt1 {
  margin-top: 1rem;
}

.mt3 {
  margin-top: 1.5rem;
}

.mb1 {
  margin-bottom: 1rem;
}

.bg-blue {
  background-color: #4f81bc;
}

.flex.column {
  flex-direction: column;
}

.flex.row {
  flex-direction: row;
}

.w-full {
  width: 100%;
}

.w-half {
  width: 50%;
}

.w-quarter {
  width: 25%;
}

.align-center {
  align-items: center;
}

button.btn-link {
  border: none;
  text-decoration: underline;
  background: transparent;
  padding: 0.75rem;
  cursor: pointer;
}
